@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --primary-color: #3D52D5;
  --secondary-color: #0fa3b1;
  --accent-color: #ff4a1c;
  --dark-color: #0D1321;
  --background-color: #fcf9f7;
  font-family: pixelify sans, sans-serif;
  background-color: var(--background-color);
}

/* Ensure the main content has enough space above the sticky timer */
.content {
  margin-bottom: 120px; /* Adjust this value to create space above the sticky timer */
}

/* Add padding to the body to ensure no overlap with the sticky timer */
body {
  padding-bottom: 70px; /* Match the height of the sticky timer */
}
